


nav{
 position: fixed;
    top: 0px;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    overflow: hidden;
    background: url('../images/global/foundry-atx-logo.png')no-repeat white scroll;
    background-size: 133px 37px;

    background-position: center 11px;

    width: 100%;
    z-index: 120;

  a{
    border: none;
    font-family: $futurabold;
    font-size:12px;
      color: $dark;
      text-transform: uppercase;
      width: 100px;
      
      height: 44px;
      background-color: transparent;
      line-height: 44px;
      transform: rotate(0deg);
      position: absolute;
      right: 0px;
      bottom: auto;
      padding: 0 10px;
      text-align: center;
      cursor: pointer;

      &:hover{
        
      }
    



  }

    .close-btn{
      position: absolute;
      top: 14px;
      left: 20px;
      display: block;
      background-color: transparent;
      width: 15px;
      height: 15px;
      transform-origin: center center;
      transform: rotate(90deg);
      transition: .2s all ease-in-out;

    }

      .line-1,.line-2{
        background-color: white;
        height: 15px;
        width: 3px;
        border-radius: 2px;
        display: block;
        position: absolute;
        top: 0px;
        z-index: 20;
        background-color: $dark;
        transition: .2s all ease-in-out;
      }
      .line-1{
        left: 9px;
      }
      .line-2{
        transform: translateX(-8px);
        left: 9px;
      }


#menu-btn{
  border: none;
  font-family: $futurabold;
  font-size: 12px;
    color: $dark;
    text-transform: uppercase;
    width: 100px;
    background-color: transparent;
    height: 44px;
    background-color: red;
    line-height: 40px;
    padding-right: 30px;
    text-indent: 38px;
    position: absolute;
  
    cursor: pointer;
  background-color: transparent;

  &.step-1{
    .close-btn{
      transform: rotate(45deg);
      left: 70px;
      top: 12px;
      transition: .2s all ease-in-out;
      .line-2{
        transform: translateX(0)rotate(90deg);
        transition: .2s all ease-in-out;

      }

      .line-1, .line-2{
        background-color: white;
      }
    }


  }
}


}