/**


Icon Sprites


**/
.icon {
  background: url("../images/global/icons-sprite.png") no-repeat transparent scroll;
  background-size: 60px 2000px;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  padding-left: 50px;
  text-indent: 30px;
  height: 30px;
  line-height: 30px; }
  .icon.strategy {
    background-position: -20px -175px; }
  .icon.healthcare {
    background-position: -20px -95px; }
  .icon.marketingexp {
    background-position: -20px -13px; }
  .icon.wordpress {
    background-position: -20px -336px; }
  .icon.saas {
    background-position: -20px -258px; }
  .icon.userresearch {
    background-position: -20px -415px; }
